each val in listData
  //- .list
  //-   img(src='assets/images/'+val.image)/
  //-   h1.title !{val.title}
  .c-detail-card-review
    .card-content
      .card-image(style='background-image: url(./assets/images/'+val.cardImage+');')
    .card-content
      .card-ratings
        - for (var col = 1; col <= 5; col++)
          //- each v in [1,2,3,4,5]
          if col <= val.ratings
            span.fa.fa-star.checked
          else
            span.fa.fa-star
    .card-content
      .card-description !{val.description}
    .card-user-detail
      .user-profile(style='background-image: url(./assets/images/'+val.userProfile+');')
      .user-wrapper
        .user-name !{val.userName}
        .user-state !{val.userState}