.c-recomended-hotel-card
  .card-wrapper
    img(src="./assets/images/country-4.jpeg" alt="Image Title")/
    a.click-area(href='https://google.com') Brazil
    .hotel-information
      h3.hotel-origin Brazil
      p.hotel-availability 15894 available hotels
    button.view-more-button See available hotels

  