extends ../template.pug

block head
    -
        titlePage = 'Home Beibeh';

block body 
    .hero-banner
        .container
            img/
    .detail
        h2 Uzie
    .go-to-airbnb
        a(href='/airbnb.html') Go to Air Bnb