extends ../template.pug

block head
  -
    titlePage = 'Pages List';

block body 
  .container
    .pages-list-link
      h1 List Pages
      .list-link
        a(href='/airbnb.html') Go to Air Bnb
      .list-link
        a(href='/traveloka.html') Go to Traveloka